<h1>Show Post</h1>

<ul>

  <li>
    <strong>Tweet:</strong>
    <%= @post.tweet %>
  </li>

  <li>
    <strong>Username:</strong>
    <%= @post.user.username %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>

<post-show></post-show>
